// Variables
@import 'variables';

article {
    margin-bottom: 70px;
}

article > .text {
    margin-bottom: 25px;
}

article > img {
    margin-bottom: 10px;
}

section.sidebar > .title {
    margin-bottom: 12px;
}

